.bgImage{
    /* background-image: url("images/backgroundHome.png"); */
    background-repeat: no-repeat;
    width: 100px;
    height: 200px;
    -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}